<div class="contain">
  <div class="Price">
    <h1 class="text-center">
      <span class="currency">₦</span>
      <span class="value">0.00</span>
    </h1>
  </div>

  <form (ngSubmit)="getPrice()" [formGroup]="priceForm" ngNativeValidate>

    <div class="form-group">
      <input type="text" placeholder="Pickup Address" class="form-control input-no-border" name="pickup" formControlName="pickup" autocorrect="off" autocapitalize="off" spellcheck="off" #search [formGroup]="priceForm">
    </div>
    <span class="help-block alert-col" *ngIf="pickupError">{{ pickupError }}</span>

    <div class="form-group">
      <input type="text" placeholder="Delivery Address" class="form-control input-no-border" name="delivery" formControlName="delivery" autocorrect="off" autocapitalize="off" spellcheck="off" #searches [formGroup]="priceForm">
    </div>
    <span class="help-block alert-col" *ngIf="deliveryError">{{ deliveryError }}</span>

    <div class="footer text-center">
      <button type="submit" class="btn btn-lg btn-primary" [disabled]="priceForm.invalid">Get Pricing</button>
    </div>

  </form>
</div>
